<launch>
  <node
    pkg = "turtlesim_dynamics"
    type = "turtlesim_dynamics_node"
    name = "turtle2"
    respawn = "true"
  >
    <param name = "mass" value = "1"/>
    <param name = "inertia" value = "1"/>
    <param name = "wind_x" value = "0.0"/>
    <param name = "wind_y" value = "0.0"/>
  </node>

  <node
    pkg = "simctrl"
    type = "PIDctrl"
    name = "PDcontroller"
    output = "screen"
  >
    <param name = "Kp1" value = "0.5"/>
    <param name = "Kp2" value = "1"/>
    <param name = "Kd1" value = "0.3"/>
    <param name = "Kd2" value = "0.5"/>
  </node>

  <node
    pkg = "simctrl"
    type = "MotionPlanner"
    name = "motion_plan"
  />

</launch>
